// .active-menu {
//   max-height: 100vh;
//   overflow: hidden;
// }
.navbar-wrapper {
    z-index: 20;
    position: relative;
    @media (max-width: 1023px) {
        margin-bottom: 0px;
        top: 20px;
    }
    .logo {
        display: flex;
    }
}
.header {
    position: relative;
    .logo {
        padding-right: 0;
        width: 100%;
        max-width: 220px;
        @media (max-width: 480px) {
            max-width: 170px;
        }
    }
}
.head-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
}
.list-menu {
    // margin: 0 0 0 auto;
    // display: flex;
    // align-items: center;
    // justify-content: flex-end;
    .nav-item {
        @media (max-width: 1023px) {
            position: relative;
        }
        // padding: 13px 31px;
        // @media (min-width: 1024px) {
        //   &:not(:last-child) {
        //     padding: 17px 22px;
        //   }
        // }
        // @media only screen and (max-width: 767px) {
        //   text-transform: capitalize;
        //   font-size: 20px;
        // }
    }
    li {
        a {
            cursor: pointer;
            transition: all 0.5s;
            &.is-active {
                color: #ffcc00;
                position: relative;
                @media only screen and (max-width: 767px) {
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: #ffcc00;
                        width: 8px;
                        height: calc(100% + 3px);
                        left: -31px;
                        top: -3px;
                    }
                }
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
    // .btn {
    //   padding: 10px 17px;
    //   font-size: 12px;
    //   @media only screen and (max-width: 767px) {
    //     padding: 15px 0px 13px;
    //     font-size: 16px;
    //     max-width: 335px;
    //     margin: auto;
    //     margin-top: 267px;
    //   }
    // }
}
// .logo-mob {
//   max-width: 70%;
//   @media only screen and (min-width: 1024px) {
//     display: none;
//   }
//   @media only screen and (max-width: 1023px) {
//     padding: 24px 21px 22px;
//   }
// }
/*mobile header btn*/
.header_btn {
    position: relative;
    display: block;
    margin: auto;
    width: 18px;
    height: 12px;
    span {
        height: 2px;
        position: absolute;
    }
}
.bit-1 {
    width: 100%;
    top: 0;
    right: 0;
    &:before {
        left: 0;
        transform-origin: left bottom;
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: calc(50% + 1px);
        background: #fff;
        top: 0;
        transition: transform 0.1s, top 0.1s;
    }
    &:after {
        right: 0;
        transform-origin: right bottom;
    }
}
.bit-2 {
    top: calc(50% - 1px);
    right: 0;
    width: 10px;
    left: auto;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        transition: width 0.1s;
        transition-delay: 0.1s;
    }
}
.bit-3 {
    width: 18px;
    bottom: 0;
    right: 0;
    &:before {
        right: 0;
        transform-origin: left top;
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        width: calc(50% + 1px);
        height: 100%;
        background: #fff;
        transition: transform 0.1s, bottom 0.1s;
        bottom: 0;
    }
    &:after {
        right: 2px;
        transform-origin: right top;
    }
}
.opened {
    .header_btn {
        width: 12px;
        height: 12px;
    }
    .bit-1 {
        width: 100%;
        right: 0;
        &:before {
            transform: rotate(45deg);
            transition-delay: 0.2s;
        }
        &:before,
        &:after {
            top: 0;
        }
        &:after {
            transition-delay: 0.2s;
            transform: rotate(-45deg);
        }
    }
    .bit-2 {
        &:before {
            width: 0;
            transition-delay: 0;
        }
    }
    .bit-3 {
        width: 100%;
        right: 0;
        &:before {
            transform: rotate(-45deg);
            left: 0;
        }
        &:before,
        &:after {
            transition-delay: 0.2s;
        }
        &:after {
            transform: rotate(45deg);
            right: 0;
        }
    }
}
.navbar-toggler {
    padding: 0;
    // font-size: 1rem;
    cursor: pointer;
    position: relative;
    z-index: 12;
    background-color: transparent;
    width: 38px;
    height: 38px;
}
.navbar-toggler:focus {
    outline: none;
}
.navbar-wrapper-list {
    display: flex;
    align-items: center;
    width: 100%;
}
.custom_navbar {
    display: flex;
    background-color: #514d4d;
    border-radius: 50%;
    z-index: 12;
    margin-left: 15px;
    @media (min-width: 1024px) {
        display: none;
    }
}
/*END mobile header btn*/

@media (max-width: 1023px) {
    .main-menu {
        max-width: 100%;
        width: 100%;
        min-height: 100vh;
        background-color: #000;
        display: block;
        position: absolute;
        transition: all 0.5s;
        top: 0;
        right: -100%;
        z-index: 12;
        padding: 75px 0;
        li {
            margin: 0;
            &.wrap-btn {
                max-width: 146px;
                margin: auto;
            }
        }
    }
    .menu-open {
        right: 0;
        top: 0;
        position: absolute;
        @media (max-width: 1023px) {
            min-width: 40%;
        }
        @media (max-width: 767px) {
            min-width: 100%;
        }
    }
}

.active-menu {
    max-height: 100vh;
    overflow-y: hidden;
    .overlay {
        &:after {
            @media (max-width: 1023px) {
                content: "";
                background: rgba(0, 0, 0, 0.5);
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                position: fixed;
                width: 100%;
                height: 100%;
                z-index: 3;
            }
        }
    }
}
